<app-add-vehiculo></app-add-vehiculo>

<b *ngIf="(loading$ | async)">Cargando...</b>

<br>

<p-table [value]="(vehicles$ | async)!" 
         [tableStyle]="{ 'width': '70rem','text-align': 'center' }"
         [paginator]="true"
         [rows]="5"
         selectionMode="single"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Motor</th>
            <th style="width: 5rem"></th>
            <th style="width: 5rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicle>
        <tr>
            <td>{{ vehicle.id }}</td>
            <td>{{ vehicle.marca }}</td>
            <td>{{ vehicle.modelo }}</td>
            <td>{{ vehicle.anio }}</td>
            <td>{{ vehicle.motor }}</td>
            <td>
                <p-button label="Eliminar" styleClass="p-button-danger p-button-text p-button-sm" (click)="deleteVehiculo(vehicle)"></p-button>
            </td>
            <td>
                <p-button label="Editar" styleClass="p-button-warning p-button-text p-button-sm" (click)="getVehiculo(vehicle)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>